{% extends "base.html" %}
{% block body %}
<div class="section" style="background-color: {{ status_bg(status['power'], status['connection']) }}
; padding-top: 5%; padding-bottom: 5%;">
  <div class="container">
    <div class="row">
      <div class="one-half column">
	{% if status['power']:%}
	<p style="text-align: center; vertical-align: middle;"><img src="{{ url_for('static', filename='img/on.svg') }}"/></p>	
	{% else %}
	<p style="text-align: center; vertical-align: middle;"><img src="{{ url_for('static', filename='img/off.svg') }}"/></p>	
	{% endif %}
      </div>
      <div class="one-half column">
	<h3>Status</h3>
	<table class="u-full-width">
	  <tbody>
	    <tr>
	      <th style="border-bottom-width: 0px">Power</th>
	      <td style="border-bottom-width: 0px;vertical-align: middle">
		      {% if status['power']: %}
		      On <a class="button button-primary" href="{{ url_for('on_off') }}" style="margin-bottom:0px">OFF</a>
		      {% else: %}
		      Off <a class="button button-primary" href="{{ url_for('on_off') }}" style="margin-bottom:0px">ON</a>
		      {% endif %}
	      </td>
	    </tr>
	    <tr>
	      <th style="border-bottom-width: 0px">Network Connected</th>
	      {% if status['connection']: %}
	      <td style="border-bottom-width: 0px;vertical-align: middle">{{status['connection'][1]}} {{status['connection'][2]}} <img src="{{ signal_strength(status['connection'][3])}}"/></td>
	      {% else: %}
	      <td style="border-bottom-width: 0px;vertical-align: middle">None</td>
	      {% endif %}
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
<div class="section" style="padding-top: 5%; padding-bottom: 5%;">
  <div class="container">
    <div class="row">
	<div class="column">
	  <table class="u-full-width">
            <tbody>
              <tr>
		<td style="border-bottom-width: 0px"><h3>Available Networks</h3></td>
		<td style="text-align: right; border-bottom-width: 0px">
		  <a class="button" href="{{ url_for('rescan') }}"><img src="{{ url_for('static', filename='img/reload.svg') }}" style="padding-top: 6px"/> RESCAN</a>
		</td>
	      </tr>
	    </tbody>
	  </table>
	  <table class="u-full-width">
  	    <thead>
    	      <tr>
                <th>SSID</th>
                <th>Security</th>
                <th>Signal Strength</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
	      {% if networks: %}
	      {% for network in networks: %}
              <tr>
		<td>{{ network[1] }}</td>
		<td>{{ network[2] }}</td>
		<td><img src="{{ signal_strength(network[3]) }}" alt="{{ network[3] }}"/></td>
		<td>
		  <a class="button" href="{{ url_for('index', cssid=network[1]) }}">CONNECT</a>
		</td>
              </tr>
	      {% endfor %}
	      {% else: %}
	      <tr>
		<td colspan="3" style="text-align: center;">No Networks Found</td>
	      </tr>
	      {% endif %}
            </tbody>
          </table>
	</div>
    </div>
  </div>
</div>
<div class="section" style="padding-top: 5%; padding-bottom: 5%">
  <div class="container">
    <div class="one-half column">
      <h3>Connect to a Network</h3> 
      <form method="post">
	<label for="ssid">SSID</label>
        <input class="u-full-width" type="text" name="ssid" placeholder="sample_ssid" id="ssid" required="required">
	<label for="passphrase">Passphrase</label>
        <input class="u-full-width" type="password" placeholder="passphrase" name="passphrase" id="passphrase">
	<label>
    	  <input type="checkbox" id='hidden' name="hidden">
    	  <span class="label-body">Hidden</span>
  	</label>
	<input class="button" type="submit" value="Connect">
      </form>
    </div>
  </div>
</div>
{% endblock body %}
